*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header .navbar .ourshop{
    background-color: rgb(183, 180, 180, 0.5);
    padding: 10px 10px;
    border-radius: 25px;
}
.games .games1 .games-4{
    margin: 5%;
    background-color: black;
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 30px;
    text-align: center;
}
.games .games1 .games-4 p {
    color: red;
}
.games .games1 .sepet{
    margin-top: -19%;
    margin-left: 35%;
    height: 2.5rem;
    width: 10rem;
}
.games .games1 .sepet button{
    margin-left: 8%;
    text-decoration: none;
    color: red;
    width: 10rem;
    height: 2rem;
    border-radius: 50px;
    background-color: black;
}
.sepet-1 {
    display: inline-block;
    background-color: aliceblue;
    height: 30rem;
    width: 60rem;
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 5%;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255, 0.4);
    text-align: center;
}
.sepet-1 .sepet-bilgi {
    height: 3.5rem;
    margin-top: 3%;
}
.sepet-1 .sepet_içerigi {
    margin-top: 2%;
    font-size: large;
}
.game1 {
    display: flex;
    padding: 3%;
    margin: 5%;
    border-radius: 40px;
}
.game1 .foto {
    border-radius: 20%;
    width: 100%;
}
.game1 .games1 { 
    text-align: center;
}
.game1 .games1 .yazı{
    margin-top: 5%;
    font-size: x-large;
}
.game1 .games1 .fiyat {
    color: red;
    font-size: large;
    margin-top: 2%;
    font-weight: 100;
}
.game1 .games1 .sepete-ekle{
    margin-top: 2%;
    border-radius: 50px;
    width: 10rem;
    height: 2.5rem;
    color: chocolate;
    background-color: black;
    font-weight: bold;
    font-size: larger;
    box-shadow: 2px 5px rgba(47, 44, 44, 0.351);
}
.sepet-1 .sepet_içerigi .sill {
    margin-left: 5%;
    width: 3rem;
    height: 2rem;
    color: orange;
    background-color: black;
    font-size: x-large;
    border-radius: 30px;
    border: none;
}
.sepet_içerigi text{
    margin-top: 15%;
}