.header {
  width: 100%;
  height: 75px;
  background-color: black;
  color: white;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 20px;
}
.slider {
  width: 100%;
  height: 800px;

}
.indirimliurun {
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: 20px;
  color: gray;
  font-size: 35px;
}
.urunalani {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.urunler {
  width: 20%;
  height: 420px;
  border: 3px solid black;
  margin-top: 20px;
  border-radius: 10px;
  display: block;
  align-items: center;
  justify-content: space-around;
}
.resim {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marka {
  height: 25px;
  width: 100%;
  margin-top: 10px;
}
.model {
  height: 25px;
  width: 100%;
}
.aciklama {
  height: 100px;
  width: 100%;
  font-size: x-large;
}
.satinal {
  height: 100px;
  width: 50%;
}
.footer {
  width: 100%;
  height: 75px;
  background-color: black;
  color: white;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.aboutdescription {
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
  display: grid;
  margin-top: 25px;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icerik {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calisilanmarka {
  width: 100%;
  font-size: x-large;
  margin-top: 10px;
}
.referans {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.referansresim {
  width: 20%;
  height: 250px;
}
.iletisimtablo {
  width: 100%;
  height: 220px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  width: 100%;
  align-items: center;
  display: grid;
  justify-content: center;
  margin-top: 20px;
}
ul.a {
  list-style-type: square;
}
.map {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.googlemap {
  height: 500px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logindiv {
  width: 93%;
  padding: 42px;
  height: 300px;
  border: 3px solid gray;
  border-radius: 10px;
  display: grid;
  align-items: center;
}
.registercontainer {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register {
  width: 40%;
  height: 525px;
  border-radius: 25px;
  border: 1px solid gray;
}

.navbar {
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.urunline{
  width: 100%;
  height: 3px;
  background-color: grey;
  margin-top: 10px;
}